$primary-color:#454CAC;
$secondary-color:#CAC544;
$on-hover-color:#B0F0BB;
$on-select-color:#4AAA4A;
$base-font-color:#FFF;
$border-color-on-hover:rgb(37, 230, 255);
$link-to-color:#999;
$link-to-color-hover:rgb(170,170,170);