//need to be deleted
.background{
    position: absolute;
    z-index: 998;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    top: 0;

}

.close{
    transition: all 1s ease-in-out;
    height: 0%;
    width: 0%;
    display: none;
}

.popup{
    position: relative;
    top:5vh;
    margin: auto;
    z-index: 999;
    width:60vw;
    height:85vh;
    padding: 10px;
    

    
    .control-tools{
        display: flex;
        justify-content: flex-end;
    
    }
    #head{
        color: black;
        display: flex;
        justify-content: space-between;
        h2{
            display: block;
            margin: 0px 0px 5px 0px;
        }
        .date{
            
            align-self:center;
        }
    }
    .modal-body{
        height:80%;
        overflow-y: scroll;
        #text-part{
            display: block;
            overflow-y:hidden;
        }
    }
}
.full{
    width: 100%;
    height: 100vh;
    top:0;
    .modal-body{
        overflow-y:hidden;
        height: 100%;
       
        #text-part{
            margin: 10px;
            display: block;
            height: 50%;
           
        }
      
    }
    #image-gallery{
        display: flex;
        justify-content: center;
    } 
}